body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #1e1e2f, #3a0ca3);
    color: white;
    text-align: center;
}

header {
    padding: 50px;
}

.profile {
    width: 120px;
    border-radius: 50%;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #f72585;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

section {
    padding: 20px;
}

.box {
    background: rgba(255,255,255,0.1);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.card {
    background: rgba(255,255,255,0.1);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}
